.container{
   
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    width:30%;
    height:500px;
    margin:60px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,0.2);
    background-image: linear-gradient(to right,#386374,#1B405C);
}

input{
    margin: 10px;
    padding:10px;
    outline: none;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #ACA4A0;
    outline: none;
    background:transparent ;
    
}

::placeholder{
    color:#ACA4A0;
    font-size: 20px;
}

textarea{
    margin: 10px;
    padding:10px; 
    width:110%;
    height: 150px;
}

button{
    margin: 10px;
    padding:10px;
    height:80px;
    width:80px;
    border-radius: 100%; 
    outline:none;
    border:none;
    cursor: pointer;
}